
* {
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.text-center{
    color: #444444

}

.header-info {
    margin-top: 25px;
}

.container {
    max-width: 840px;
}

.container-content {
    margin-top: 34px;
}